.container-fluid {
  height: 100vh;
  padding: 0;
  background-color: black;
}

.stageName {
  text-align: center;
  color: aquamarine;
  height: 10%;
  padding-top: 1%;
}

.field {
  position: relative;
  margin: 0;
  height: 80%;
  background-image: url(./Image/Extra/background2-resized.png);
  background-size: contain;
}

.row {
  height: 25%;
  width: 100%;
}

.col-4 {
  margin: auto;
  text-align: center;
  color: darkslategrey;
}

.player {
  position: absolute;
  height: 55%;
  margin-bottom: 10%;
}

.player img {
  height: 100%;
}

.enemy {
  position: absolute;
  height: 55%;
  margin-bottom: 10%;
  right: 0;
}

.enemy img {
  height: 100%;
}

.hp-bar input[type="range"] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
.hp-bar input[type="range"]:focus {
  outline: none;
}
.hp-bar input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  box-shadow: 1px 1px 1px #50555c;
  background: #50555c;
  border-radius: 14px;
  border: 0px solid #000000;
}
.hp-bar input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 30px;
  border-radius: 12px;
  background: #529de1;
  -webkit-appearance: none;
  margin-top: -3px;
}
.hp-bar input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #50555c;
}
.hp-bar input[type="range"]::-moz-range-track {
  width: 100%;
  height: 14px;
  box-shadow: 1px 1px 1px #50555c;
  background: #50555c;
  border-radius: 14px;
  border: 0px solid #000000;
}
.hp-bar input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 30px;
  border-radius: 12px;
  background: #529de1;
}
.hp-bar input[type="range"]::-ms-track {
  width: 100%;
  height: 14px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.hp-bar input[type="range"]::-ms-fill-lower {
  background: #50555c;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555c;
}
.hp-bar input[type="range"]::-ms-fill-upper {
  background: #50555c;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555c;
}
.hp-bar input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 30px;
  border-radius: 12px;
  background: #529de1;
}
.hp-bar input[type="range"]:focus::-ms-fill-lower {
  background: #50555c;
}
.hp-bar input[type="range"]:focus::-ms-fill-upper {
  background: #50555c;
}

.stat-control input[type="range"] {
  width: 100%;
  margin: 13.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
.stat-control input[type="range"]:focus {
  outline: none;
}
.stat-control input[type="range"]::-webkit-slider-runnable-track {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
.stat-control input[type="range"]::-webkit-slider-thumb {
  margin-top: -14px;
  width: 16px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
}
.stat-control input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
.stat-control input[type="range"]::-moz-range-track {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
.stat-control input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}
.stat-control input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 14.8px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
.stat-control input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
.stat-control input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
.stat-control input[type="range"]::-ms-thumb {
  width: 16px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
.stat-control input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
.stat-control input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}
